In [3]:
class MyClass:
    x=2

In [8]:
p1 = MyClass()
print(p1.x+p1.y)

5

In [4]:
print(MyClass.x)

2

In [11]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=Person('Sohan',24)
print(p1.name)
print(p1.age)

Sohan
24

In [1]:
class Student:
    def __init__(self,name,roll,reg,section):
        self.name=name
        self.roll=roll
        self.reg=reg
        self.section=section
p1=Student('Sohan',59,2305298193,'Genius')
print(p1.name)
print(p1.roll)

Sohan
59

In [13]:
p1.section

'Genius'

In [14]:
p1.roll

59

In [15]:
p1.reg

2305298193

In [6]:
y=MyClass()
print(y.x)
print(type(y))

2
<class '__main__.MyClass'>

In [9]:
class Myschool:
    pass    #if there is no block of codes in the class we can use pass for avoiding the syntax error

In [10]:
class Person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printname(self):
        print(self.fname,self.lname)
class Student(Person):
    def __init__(self,fname,lname):
        super().__init__(self,fname,lname)
        self.graduationyear=2020

x=Student

In [14]:
#private member
class myclass:
    def __init__(self,value):
        self._value=value
    def _protected_method(self):
        return self._value
obj=myclass(10)
print(obj._value)

10

In [16]:
#protected member
class myclass:
    def __init__(self,value):
        self.__value=value
    def get_value(self):
        return self.__value
obj=myclass(10)
#print(obj._value)
print(obj.get_value())

10

In [17]:
class myclass:
    def __init__(self,value):
        self._value=value
    def _protected_method(self):
        return self._value
obj=myclass(10)
#print(obj._value)
print(obj._protected_method())

10

In [18]:
#difference between public and protected member with a proper example
#Example that demonstrate the proper polymorphism

In [13]:
class Student:
    def __init__(self,name):
        self.name = name
sohan = Student(name='Sohan Kumar Mohapatra!')
champ = Student(name="I am Champ")
print(sohan.name)
print(champ.name)

Sohan Kumar Mohapatra!
I am Champ

In [14]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [15]:
class Student:
    Total = 500  
    def __init__(self, marks):
        self.marks = marks  
        print("Initialized...")
    def findLoss(self):
        return self.Total - self.marks  
    def findPercentage(self):
        return (self.marks / self.Total) * 100

In [16]:
a = Student(marks=493)
print("Total Marks:", a.Total)
print('Lost Marks:', a.findLoss()) 
print('Percentage is:', a.findPercentage())
print('Percentage is: {:.2f}%'.format(a.findPercentage()))

Initialized...
Total Marks: 500
Lost Marks: 7
Percentage is: 98.6
Percentage is: 98.60%

In [19]:
class Student:
    Total = 500 # Class variable
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender)
    def __del__(self):
        print("Student Database is Deleted")

In [20]:
a = Student('Sohan', '490', 'male')
B = Student('Kritika', 478, 'FEmale')

Initialized...
Initialized...

In [21]:
print(B)

Name: Kritika | Marks: 478 | Gender: FEmale

In [22]:
print('Marks: ',len(a))

TypeError: 'str' object cannot be interpreted as an integer

In [24]:
class Student:
    Total = 500 # Class variable
    def __init__(a,marks):
        a.marks=marks
        print("Initialized...")
    def mul(self):
        return self.marks * self.Total
p1 = Student(356)
p1.mul()

Initialized...

178000

In [25]:
class Student:
    Total = 500 
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(b):
        return b.marks
a = Student('Sohan', 490, 'male')
print(a)
print('Marks: ',len(a))

Initialized...
Student Database is Deleted
<__main__.Student object at 0x000001CC76BB2CD0>
Marks:  490

In [27]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name, + abc.age )
p1 = Person("skm", 59)
p1.myfunc()

Hello my name is skm 59

In [29]:
p1.age = 60
p1.myfunc()

Hello my name is skm 60

In [30]:
del p1.age
p1.myfunc()

AttributeError: 'Person' object has no attribute 'age'

In [32]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
x = Person("Sohan", "Kumar Mohapatra")
x.printname()

Sohan Kumar Mohapatra

In [34]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year
x = Student("Ritik", "Pati", 2024)
print(x.graduationyear)

2024

In [37]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.internshipyear = year
    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the first day of internship of", self.internshipyear)
x = Student("Sohan", "Kumar Mohapatra", 2024)
x.welcome()

Welcome Sohan Kumar Mohapatra to the first day of internship of 2024

In [38]:
class MyClass:
    def my_function(arg1, arg2):
        return arg1 + arg2
 
result = MyClass.my_function(1, 2)
print(result) # Output: 3

3

In [40]:
class MyClass:
    def __init__(self, value):
        self.__value = value
    def get_value(self):
        return self.__value
    def set_value(self, value):
        self.__value = value
obj = MyClass(10)
print(obj.get_value()) 
obj.set_value(20)
print(obj.get_value())

10
20

In [41]:
class MyClass:
    def __init__(self, value):
        self.__value = value
    @property
    def value(self):
        return self.__value
    @value.setter
    def value(self, value):
        self.__value = value
obj = MyClass(34)
print(obj.value) 
obj.value = 50
print(obj.value)

34
50