In [4]:
li=[33,44,55,66,77,88]
for i in li:
    print(i)

33
44
55
66
77
88

In [5]:
for item in li:
    print(item)

33
44
55
66
77
88

In [6]:
for i in li:
    print(i,end=" ")

33 44 55 66 77 88

In [7]:
a=['TCS','INFOSYS','WIPRO','ACCENTURE']
for com in a:
    print(com,end=' ')

TCS INFOSYS WIPRO ACCENTURE

In [8]:
for i in range(1,11):
    print(i,"RN")

1 RN
2 RN
3 RN
4 RN
5 RN
6 RN
7 RN
8 RN
9 RN
10 RN

In [10]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [25]:
s=[1,2,3,4,5]
sum=0
for i in s:
    sum=sum+i
print("Sum is : ",sum)

Sum is :  15

In [26]:
s=[1,2,3,4,5]
sum=0
for i in s:
    sum=sum+i
    print("Sum is : ",sum)

Sum is :  1
Sum is :  3
Sum is :  6
Sum is :  10
Sum is :  15

In [38]:
a=int(input("Enter the lower bound:"))
b=int(input("Enter the upper bound:"))
print("The odd numbers are:")
for i in range(a,b+1):
    if i%2!=0:
        
        print(i,end=",")

Enter the lower bound: 1
Enter the upper bound: 51

The odd numbers are:
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,

In [24]:
for num in range(0,101):
    if num%4==0 and num%9!=0:
        print(num)

4
8
12
16
20
24
28
32
40
44
48
52
56
60
64
68
76
80
84
88
92
96
100

In [67]:
table=int(input("enter the multiplication table: "))
for i in range(1,11):
    print(table*i)
    print(i)
    print(table)

enter the multiplication table:  3

3
1 3
6
2 3
9
3 3
12
4 3
15
5 3
18
6 3
21
7 3
24
8 3
27
9 3
30
10 3

In [50]:
movies=['Avatar','Mirapur','2012']
[len(i) for i in movies]

[6, 7, 4]

In [54]:
li=[i**2 for i in range(1,11)]
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
num= int(input("Enter the number :"))
res=1
while(num>0):   
    res=num*res
    num=num-1
print("the factorial of",x,"is",res)

Enter the number : 6

the factorial of 5 is 720

In [12]:
x=int(input("Enter the number : "))
res=1
for i in range(1,x+1):
    res=res*i
print("the factorial of",x,"is",res)

Enter the number :  5

the factorial of 5 is 120

In [14]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [18]:
cars=['ZX10R','S1000rr','Aprilia RSV4','RR310']
for i in range(3):
    print('I like ',cars[i])

I like  ZX10R
I like  S1000rr
I like  Aprilia RSV4

In [19]:
cars=['ZX10R','S1000rr','Aprilia RSV4','RR310']
for i in range(1):
    print('I like ',cars[i])

I like  ZX10R

In [20]:
lowbo=int(input("Enter the lower bound:"))
upbo=int(input("Enter the Upper bound: "))
for i in range(lowbo,upbo+1):
    if(i%2==0):
        print(i,end=",")

Enter the lower bound: 10
Enter the Upper bound:  30

10,12,14,16,18,20,22,24,26,28,30,

In [26]:
li=[]
for i in range(8):
    li.append(i**3)
print(li)

[0, 1, 8, 27, 64, 125, 216, 343]

In [29]:
num= int(input("Enter the number :"))
res=1
while(num>0):   
    res=num*res
    num=num-1
print("the factorial of",num,"is",res)

Enter the number : 0

the factorial of 0 is 1

In [1]:

x=8
while x>1:
    print("x is {}".format(x))
    x-=1
    if x==9:
        break
else:
    print("x is no longer <8")

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer <8

In [2]:
#Factorial
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print(fact)

 5

120