In [1]:
pwd

'C:\\Users\\Dell Pc\\python'

In [2]:
print("HEllo")

HEllo

In [3]:
pwd

'C:\\Users\\Dell Pc\\python'

In [5]:
A=10
B=14
print(A+B)

24

In [1]:
10

10

In [5]:
num=10 """a has been assigned as num and num2 has been assigned as 12
            and num3 is the addition of num and num2"""
num2=12
num3=num+num2
print(num3)

22

In [9]:
num=10
num2=12.22
num3=12.222323321313231332244343233465654
print(type(num))
print(type(num2))
print(type(num3))
num2+num3

<class 'int'>
<class 'float'>
<class 'float'>

24.442323321313232

In [10]:
num=10 
num2=12
num3=num+num2
print(num3)
"""a has been assigned as num and num2 has been assigned as 12
            and num3 is the addition of num and num2"""

22

'a has been assigned as num and num2 has been assigned as 12\n            and num3 is the addition of num and num2'

In [11]:
num=10 
num2=12
num+num2
#print(num3)
"""a has been assigned as num and num2 has been assigned as 12
            and num3 is the addition of num and num2"""

'a has been assigned as num and num2 has been assigned as 12\n            and num3 is the addition of num and num2'

In [14]:
num=10 
num2=12
num3=num+num2 
"""a has been assigned as num and num2 has been assigned as 12
            and num3 is the addition of num and num2"""
print(num3)

22

In [16]:
"""GOOD AFTERNOON"""
a=1
b=2
a+b

3

In [17]:
id(a)

140710708691752

In [19]:
a=10
a
id(a)

140710708692040

In [20]:
b=20
b
id(b)

140710708692360

In [21]:
c=20
id(c)

140710708692360

In [22]:
d=30
id(d)

140710708692680

In [27]:
num1=10
num2=23
u=num2+num1
print("Summation is : ",num2+num1)
u

Summation is :  33

33

In [29]:
 num1=10
num2=23
u=num2+num1
u
v=print("Summation is : ",num2+num1)

Summation is :  33

In [32]:
_1A='c'
u=type(_1A)
u

str

In [33]:
a=1
b=2
c=a+b
print("Sum is : ",c)
c

Sum is :  3

3

In [34]:
import keyword
keywords=keyword.kwlist
print(keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [35]:
len(keywords)

35

In [36]:
b=input("Enter your batch of OCAC: ")
print("my batch of OCAC is  ",b)

Enter your batch of OCAC:  june2024

my batch of OCAC is   june2024

In [38]:
print("i am from",b,"batch")

i am from june2024 batch

In [39]:
print(b,"is my batch of OCAC")

june2024 is my batch of OCAC

In [42]:
 print("i am from",b,"batch\nWhich batch is yours?" )

i am from june2024 batch
Which batch is yours?

In [43]:
c=input("ID:")
print(c)

ID: 10243

10243

In [44]:
print("my batch of OCAC is  ",b, "and my employee id is :",c)

my batch of OCAC is   june2024 and my employee id is : 10243

In [45]:
print("my batch of OCAC is:{}and my employee id is:{}".format(b,c))#this is called dot format and this{} works as a place holder

my batch of OCAC is:june2024and my employee id is:10243

In [48]:
a

10

In [49]:
del(a)

In [51]:
A

NameError: name 'A' is not defined

In [52]:
b

20

In [53]:
del(b)

In [54]:
del(c)

In [55]:
a+b+c

NameError: name 'a' is not defined

In [59]:
print("Hello {name} {greet} {name}".format(name="sohan",greet="Good Afternoon"))

Hello sohan Good Afternoon sohan

In [61]:
print("HELLO {name} {greet}".format(name="sohan",greet="Good Afternoon"))

HELLO sohan Good Afternoon

In [1]:
a=23
name='Sohan'
print("My number is{one} and my name is: {two}".format(one=a,two=name))
print("My number is {} and my name is {}".format(a,name))
print("My number is: ",a,"My name is: ",name)

My number is23 and my name is: Sohan
My number is 23 and my name is Sohan
My number is:  23 My name is:  Sohan

In [9]:
a=int(input ("print the first number: "))
b=int(input("print the second number: "))
add=a+b
sub=a-b
mul=a*b
div=a/b  
mod=a%b
print("Addition {}, Substraction {},Multiplication {}, Division {},Modulous {}".format(add,sub,mul,div,mod))

print the first number:  20
print the second number:  4

Addition 24, Substraction 16,Multiplication 80, Division 5.0,Modulous 0

In [10]:
print("ADD:",add)
print("sum: {0},diff: {1},mult: {2},div: {3},mod: {4}".format(add,sub,mul,div,mod))

ADD: 24
sum: 24,diff: 16,mult: 80,div: 5.0,mod: 0

In [11]:
print("Sum: %d, Diff: %d, Mul: %d,div: %d, mod: %d"%(add,sub,mul,div,mod))

Sum: 24, Diff: 16, Mul: 80,div: 5, mod: 0

In [26]:
print('{0:^4}|{1:^4}|{2:^4}|{3:^4}|{4:>4}'.format('sum','diff','mul','div','mod'))
print('{0:^4}|{1:^4}|{2:^4}|{3:^4}|{4:>4}'.format(add,sub,mul,div,mod))

sum |diff|mul |div | mod
 24 | 16 | 80 |5.0 |   0

In [31]:
a="Odisha Computer Application Center"
print(f"welcome to First class of {a} .")

welcome to First class of Odisha Computer Application Center .

In [32]:
n=input()
n

 30

'30'

In [33]:
type(n)

str

In [34]:
name=input("What is your name? : ")
print("hey Good Afternoon "+name+"!")

What is your name? :  Sohan

hey Good Afternoon Sohan!

In [37]:
var1,var2=input("Enter the names : ").split(" ")
print("Good Afternoon",var1)
print("Good Afternoon",var2)

Enter the names :  Sohan Ritik

Good Afternoon Sohan
Good Afternoon Ritik